/*elements used on all pages*/
body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    
}
button {
    margin: auto;
    text-align: center;
    width: 100%;
    border-radius: 12px;
}

select {
    font-size: medium;
    font-weight: bold;
}
label{
    font-weight: bold;
    display: inline;
}

/*logon page*/
.contentContainer {
    flex: 2;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.contentPanel {
    height: 100%;
    visibility: visible;
    flex: 2;
}

.logonPanel {
    display: table-cell;
    vertical-align: middle;
}

.accountsPanel {
    text-align: center;
}

.logonBox {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

    .logonBox div {
        padding: 0px;
        margin: 0px;
    }

    .logonBox hr {
        padding: 0px;
        margin: 0px;
    }

    .logonBox input {
        width: 100px;
        border: 1px inset gray;
    }

.logonLinks {
    height: 25px;
}

#createAccountLink {
    padding-bottom: 5px;
    font-size: 16px;
    text-decoration: underline;
    color: blue;
}

#signinAnonymousLink {
    padding-bottom: 15px;
    font-size: 16px;
    text-decoration: underline;
    color: blue;
}

.title {
    font-size: 22px;
    text-align: left;
}

#logonIdDiv {
    font-size: 18px;
}

#logonPasswordDiv {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

#signinButton {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

#logonId {
    width: 200px;
    height: 22px;
}

#logonPassword {
    width: 200px;
    height: 22px;
}

#errorMessage {
    color: red;
}


/* user and manager Home*/
.header {
    /*font-size: 25px;*/
    text-align: left;
}

.subTitle {
    font-size: 17px;
    /*text-align: center;*/
}


#logOut {
    position: absolute;
    top: 30px;
    right: 10px;
    margin: auto;
    width: auto;
}

.taskButtons{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    width: 200px; 
    display: inline-block;
}

.post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

/* Add a black background color to the top navigation */
.topnav, .topnav2  {
    background-color: black;
    overflow: hidden;
    width: 100%;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
display: block;
float: left;
color: #f2f2f2;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
text-decoration: none;
font-size: 14px;
width: 33.333%;
}
  
/* Change the color of links on hover */
.topnav a:hover, .topnav2 a:hover {
    background-color: rgb(229, 240, 245);
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active, .topnav2 a.active {
    background-color: dodgerblue;
    color: white;
}

.topnav2 a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
    width: 25%;
}

#feed {
    border-collapse: collapse;
}


.left, .likes, .dislikes {
    float: left;
}

.mainHeading {
    font-weight: bold;
    font-size: 18px;
    background-color: lightsteelblue;
}

.heading {
    font-weight: bold;
    font-size: 18px;
    background-color: gainsboro;
}

.comment {
    background-color: gainsboro;
}

.commentButton {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

.filter {
    padding-bottom: 10px;
}

.nameTag {
    color: dodgerblue;
}